body {
  min-height: 100vh;
  position: fixed;
  width: 100%;
  background: #282828;
  background-image: url("assets/background.png");
}
.d-flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.main-app {
  text-align: center;
  margin: 100px;
}

.cta-button {
  padding: 13px;
  border: none;
  border-radius: 7px;
  min-width: 200px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  height: 50px;
}

.connect-wallet-button {
  background: rgb(32, 129, 226);
}

.mint-button {
  background: orange;
}
.balance_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.trans_card {
  padding: 23px;
  margin: 10px;
  /* border: solid 1px #a9a9a9; */
  border-radius: 8px;
  flex: 1 1;
  background: #ffffff29;
  backdrop-filter: blur(6px);
}
.balance_title {
  color: #c7c7c7;
  font-size: 17px;
  font-weight: 500;
}
.balance_value {
  color: white;
  font-size: 28px;
  font-weight: 500;
  margin-top: 9px;
}
.amount_input {
  height: 50px !important;
  border-radius: 7px !important;
  border: none !important;
  margin-right: 10px;
  padding: 0px 0px;
  padding-left: 15px;
  font-size: 23px;
}
.title {
  color: white;
  font-size: 40px;
  font-weight: 500;
  margin: 30px;
  margin-bottom: 0px;
}
.cta-button.mint-button.disabled {
  background: #c1a36e !important;
}
.current_address {
  color: #cbcbcb;
  margin: auto;
  margin-bottom: 20px;
}
.input_error {
  color: #ff3737;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}
